/**
 * @author yaninghuang<黄亚宁>
 * @email 1036616721@qq.com
 * @create date 2018-06-29 17:15:00
 * @modify date 2018-06-29 17:15:00
 * @desc [description]
*/
html,
body,
p,
ul,
ol,
li,
form,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-size: .6rem;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
}

input,
textarea {
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

// 万能清除法
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

html,
body, 
#app, 
.page{
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}